
#my-works {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1.5rem;
}

.works-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  gap: 1.5rem;
}

.works-container p{
  line-height: 170%;
}
.works-container h2{
  font-size: 40px;
  font-weight: 500;
}
.works-container h3{
  font-size: 21px;
  font-weight: 500;
}
.works-container .header-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

:root {
  --ast-global-color-5: #075aae;
}

.header-container h2 {
  margin-top: 1.5rem;
}

.header-container p {
  max-width: 510px;
  margin-bottom: 1.5rem;
}

.works-container .card-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}

.card-container .card {
  flex: 1;
  background: #075aae;
  display: flex;
  flex-direction: column;
  padding: 4.5rem 3.2rem;
  gap: 1rem;
  color: #ffffff;
}

.card-container .card span {
  width: 50px;
  height: 1px;
  background:#067ae0;
}

.card-container .card p {
  text-align: left;
  word-wrap: break-word;
  margin: 1.25rem 0;
}

.card-container .card h2 {
  text-align: left;
  word-wrap: break-word;
  margin: 1.25rem 0;
}

.works-btn {
  background-color: #075aae;
  width: fit-content;
  padding: 1.1rem 2.2rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.service-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

.service-container .advice-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4.5rem 3.2rem;
  gap: 2rem;
  background: #f4f6f6;
  color: #000000;
}

.service-container .advice-container .call-btn {
  width: fit-content;
  padding: 1.1rem 2.2rem;
  background: #075aae;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.service-container .book-container {
  display: flex;
  flex: 2.9;
  flex-direction: row-reverse;
  background:#f4f6f6;
  color: #000000;
}

.service-container .book-container .img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 12.5rem;
  width: 100%;
  padding: 10px;
}

.service-container .book-container .img-container img {
  object-fit: contain;
}

.service-container .book-container .desc-container {
  padding: 70px 50px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 765px) {
  .card-container,
  .service-container {
    flex-direction: column;
  }

  .service-container .book-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
